<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ASP_clinicmanager_profile_webpage</title>
  </head>
  <body>
    <h1 style="text-align:center;">{{item.category}}</h1>
    <div style="width:100%;">
    <div style="float:left; width: 60%">
      <p>
        <label>{{item.description}}</label>
      </p>
      <p>
        <label>weight per item: </label><label>{{item.shipping_weight}}kg</label>
      </p>
    </div>
    <div style="float:right;">
      <img src="img.jpg" width="100" height="200">
    </div>
  </div>
  <div style="clear:both"></div>




  </body>
</html>
