<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ASP_clinicmanager_profile_webpage</title>
  </head>
  <body>
  {% load static %}
    <h1 style="text-align:center;">{{item.category}}</h1>
    <div style="width:100%;">
    <div style="float:left; width: 60%">
      <p align="center">
        <label>{{item.description}}</label>
      </p>
      <p align="center">
        <label>weight per item: </label><label>{{item.shipping_weight}}kg</label>
      </p>
    </div>
    <div style="float:right; width: 30%">
      <img src="{%static item.image.url %}" >
    </div>
  </div>
  <div style="clear:both"></div>




  </body>
</html>
