<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
table {
    border-collapse: collapse;
    width: 10%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


</style>
    <title>Dispatcher_order</title>
  </head>
  <body>
    <h1 style="text-align:center;">Air Supply-Pilot Dispatcher</h1>
    <h2 style="text-align:center;">order</h2>
    <p align="right">
      <input type="button" value="Print CSV File" />
    </p>
    <table align="center">
      <tr>
        <th><label>OrderID</label></th>
        <th><label>Status</label></th>
        <th><label>Clinic</label></th>
        <th></th>
      </tr>
<!-- for pack = order in the database -->
      {% for order in order_list %}
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.location.name}}</td>
        <td><input type="button" value="Dispatched" onclick="window.location = location.protocol + '//' + location.host + '/dispatch/{{order.id}}'"></td>
      </tr>
      {% endfor %}
      
    </table>
  </body>
</html>