<!doctype html>
<html>
    <head>
        <title>Forgot Password</title>
        {% load static %}
        <link rel=stylesheet type="text/css" href="{% static 'config.css' %}">
        <style type="text/css">
            form {
                width: 300px;
            }
        </style>
    </head>
    
    <body>
        <form action="" method="POST">
            <div class=title>Forgot Password</div>
            <p><label>UserID:</label> <input type="text" name="userID" id="userID"></p>
            <p><input type="submit" name="submit" value="Submit"></p>
        </form>
    </body>
</html>