<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
<style>
table {
    border-collapse: collapse;
    width: 10%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

</style>

  </head>
  <body>
    <h1><center>Profile</center></h1>
    {% if  user.userType == 'clinicManager'%}

    <p>
    <input type="button"  onclick="window.location = location.protocol + '//' + location.host + '/clinic_manager_item'"  value="Description" >
       
      <input type="button" onclick="window.location = location.protocol + '//' + location.host + '/clinic_manager_order'" value="Order">
    </p>

    {% elif user.userType == 'warehousePersonal'%}

    <p>  
       <input type="button" onclick="window.location = location.protocol + '//' + location.host + '/warehouse_personal_order'" value="Order">
    </p>


    {% elif user.userType == 'dispatcher'%}

    <p>  
     <input type="button" onclick="window.location = location.protocol + '//' + location.host + '/dispatcher_order'" value="Order">
    </p>


    {% endif %}
    <table align="center">
      <tr>
        <td><label>UserID:</label></td>
        <td><label>{{ user.userID }}</label></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><input type="text" name="password" id="password" value="{{ user.password }}"></td>
      </tr>
      <tr>
        <td><label>Email address:</label></td>
        <td><input type="email" name="email" id="email" value="{{ user.email }}"></td>
      </tr>
      <tr>
        <td><label>First name:</label></td>
        <td><input type="text" name="firstname" id="firstname" value="{{ user.first_name }}"></td>
      </tr>
      <tr>
        <td><label>Last name:</label></td>
        <td><input type="text" name="lastname" id="lastname" value="{{ user.last_name }}"></td>
      </tr>
      {% if  user.userType == 'clinicManager'%}
        <tr>
        <td><label>Clinic:</label></td>
        <td><label>{{ user.clinic.name }}</label></td>
      </tr>
      {% endif %}
    </table>
  <p align="center">  <input type="button" value="Change Information" onclick="window.location = location.protocol + '//' + location.host + '/changeInfo/{{ user.id }}/' + 
                  document.getElementById('password').value + '/' + document.getElementById('email').value + '/' + 
                  document.getElementById('firstname').value + '/' + document.getElementById('lastname').value"></p>
  </body>
</html>
