<!doctype html>
<html>
    <head>
        <title>Registration</title>
        {% load static %}
        <link rel=stylesheet type="text/css" href="{% static 'config.css' %}">
        <style type="text/css">
            form {
                width: 700px;
            }
        </style>
        <script>
            function validateForm() {
                var x = document.getElementById("password").value;
                var y = document.getElementById("confirmPassword").value;
                var userId = document.getElementById("userID").value;
                var token = document.getElementById("token").value;
                var firstName = document.getElementById("firstName").value;
                var lastName = document.getElementById("lastName").value;


                if (x != y || x == "" || userId == "" || token == "" || firstName == "" || lastName == "") {
                    alert("invalid input");
                    return false;
                } else {
                    document.forms["myForm"].action = "/createAcc";
                    document.forms["myForm"].submit();
                    return false;
                }
            }
        </script>
    </head>
    <body>
       <form name="myForm" action=""
onsubmit="return validateForm()" method="post">
            {% csrf_token %}
            <div class=title>Registration</div>
            <p><label>UserID:</label> <input type="text" name="userID" id="userID"></p>
            <p><label>Password:</label> <input type="password" name="password" id="password"></p>
            <p><label>Confirmed Password:</label> <input type="password" name="confirmPassword" id="confirmPassword"></p>
            <p><label>Token:</label> <input type="text" name="token" id="token"></p>
            <p><label>First name:</label> <input type="text" name="firstName" id="firstName"></p>
            <p><label>Last name:</label> <input type="text" name="lastName" id="lastName"></p>
            <p><label>Clinic (Clinic manager only):</label><select name="location" >
                {% for location in location_list %}
                    <option value={{location.id}}>{{location.name}}</option>
                {% endfor %}
            </select></p>
            <p><input type="submit" name="submit" value="Submit"></p>
        </form>
    </body>
</html>