<!doctype html>
<html>
    <head>
        <title>Reset Password</title>
        {% load static %}
        <link rel=stylesheet type="text/css" href="{% static 'config.css' %}">
        <style type="text/css">
            form {
                width: 400px;
            }
        </style>
    </head>
    
    <body>
        <form action="/reset_password_token" method="post" >
            <div class=title>Forgot Password</div>
            <p><label>UserID:</label> <input type="text" name="userID" id="userID"></p>
            <p><label>Password:</label> <input type="password" name="password" id="password"></p>
            <p><label>Confirmed Password:</label> <input type="password" name="confirmPassword" id="confirmPassword"></p>
            <p><label>Token:</label> <input type="text" name="token" id="token"></p>
	    
            <p><input type="submit" name="submit" value="Submit"></p>
        </form>
    </body>
</html>