<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Manage_order</title>
  </head>
  <body>
    <h1 style="text-align:center;">Air Supply-Pilot Warehouse</h1>
    <h2 style="text-align:center;">Manage order</h2>
    <table align="center">
      <tr>
        <td></td>
        <td><label>Order ID</label></td>
        <td><label>Status</label></td>
        <td><label>Clinic</label></td>
      </tr>
<!-- for n = order in the database -->
        {% for order in order_list %}
        <tr>
          <td><a href="#" onclick="window.location = location.protocol + '//' + location.host + '/warehouse_personal_checklist/{{ user.id }}/{{order.id}}'">checklist</a></td>
          <td><label>{{order.id}}</label></td>
          <td><label>{{order.status}}</label></td>
          <td><label>{{order.location.name}}</label></td>
          <td><input type="button" value="Packed" onclick="window.location = location.protocol + '//' + location.host + '/pack/{{order.id}}'"/></td>
          <td><input type="button" value="Print shipping label" /></td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>