<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Checklist</title>
    <style>
table {
    border-collapse: collapse;
    width: 10%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


</style>
  </head>
  <body>
    <h1 style="text-align:center;">Air Supply-Pilot Order Checklist</h1>
    <table>
      <tr>
 	      <td><label>OrderID:</label></td>
        <td><label>order_id</label></td>
	    </tr>
	    <tr>
        <th><label>ItemID</label></th>
        <th><label>Item Name</label></th>
        <th><label>Quantity</label></th>
      </tr>
<!-- for n = item in the database -->
      {% for item in order.items.all %}
      <tr>
        <td><label>{{item.id}}</label></td>
        <td><label>{{item.category}}</label></td>
        <td><label>{% for set in item.order_item_set.all %}
                      {% if set.item_id == item.id and set.order_id == order.id%}
                        {{set.quantities}}
                      {% endif %}
                    {% endfor %}
                    </label></td>
      </tr>
      {% endfor %}
    </table>
   
  </body>
</html>